@import '../../style/colors.css';

.spanArrowLeft, .spanArrowRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:11.67px;
}
.arrowLeft, .arrowRight{
    width: 100%;
}
.containerSlide{
    padding: 0 1.25rem;
}
.slideItem{
    position: relative;
}
.containerArrowLeft{
    position:absolute;
    top: 34%;
    left: 1.5%;
    z-index: 1;
}
.containerArrowRight{
    position:absolute;
    top: 34%;
    right: 1.5%;
    z-index: 1;
}
.containerPictures{
    display:flex;
    height: 255px;
}

/*** MEDIA QUERIES ***/
@media (min-width: 1440px) {
    .spanArrowLeft, .spanArrowRight{width:100%;}
    .containerArrowLeft{top: 36.25%;left: 1.75%;}
    .containerArrowRight{top: 36.25%;right: 1.75%;}
    .containerPictures{height:415px;}
    .containerSlide{padding: 0 5.2rem 0 6.25rem;}
}