@import '../../style/colors.css';

.containerRating{
    display: flex;
    align-items: center;
    width: 100%;
}
.spanRating{
    width:13.41px;
    height: 13px;
    margin-right: 0.412rem;
}
.rating{
    width:100%;
    height:100%;
}

/*** MEDIA QUERIES ***/
@media (min-width: 1440px) {
    .spanRating{width:24.75px;height: 24px;margin-right:0.2rem;margin-left: 0.753rem;}
}