@import '../../style/colors.css';

.containerLoader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: rgba(var(--backgroundLight), 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerLogements {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.75rem 1.25rem 2.5rem 1.25rem;
    border-radius: 25px;
}

.containerBanner {
    padding: 0 1.25rem;
}

/*** MEDIA QUERIES ***/
@media (min-width: 1440px) {
    .containerLogements {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1.25rem 5.2rem 5rem 6.25rem;
        padding: 1.938rem 0.65rem;
        background: var(--backgroundLight);
    }

    .containerBanner {
        padding: 1.2rem 5.2rem 1.438rem 6.25rem;
    }
}