@import '../../style/colors.css';

.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 1.25rem 0.7rem 1.25rem;
}
.containerLogo{
    margin-right: 0.625rem;
}
.logo{
    width:100%;
    max-width: 147px;
}
.nav{
    display: flex;
    flex-wrap:wrap;
}
.home, .about{
    font-size:0.75rem;
    color: var(--primary-color);
    font-weight:500;
    text-transform: uppercase;
}
.home{
    padding-right: 0.95rem;
}
a:hover, a:hover{
    color: var(--backgroundStar);
}
.home:hover, .about:hover{
    color: var(--backgroundStar);
}

/*** MEDIA QUERIES ***/
@media (min-width: 1440px) {
    .header{padding: 2.5rem 5.2rem 2.5rem 6.25rem;}
    .logo{max-width:210px;}
    .home, .about{font-size:1.5rem;text-transform: capitalize;}
    .home{padding-right: 3.95rem;}
}