@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* Initialization reset*/
*{
  margin:0;
  padding:0;
}
/* Initialisation box-sizing et font-family*/
*{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/**** GLOBAL ***/
a{
  text-decoration: none;
  color:initial;
}
ul{
  margin:0;
  padding:0;
  list-style: none;
}

/*** MEDIA QUERIES ***/
@media (min-width: 1920px) {
  body {
    max-width:1920px;margin:auto!important;
  }
}